<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="scandit-cordova-datacapture-text" version="6.24.0-beta.2">
    <name>ScanditTextCapture</name>
    <js-module name="Scandit" src="dist/index.js">
        <runs />
        <merges target="Scandit" />
    </js-module>
    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="cordova-android" version=">=7.0.0" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditTextCapture">
                <param name="ios-package" value="ScanditTextCapture" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/ScanditTextCapture-Bridging-Header.h" type="BridgingHeader" />
        <source-file src="src/ios/ScanditTextCapture.swift" />
        <dependency id="scandit-cordova-datacapture-core" version="6.24.0-beta.2" />
        <podspec>
            <pods use-frameworks="true">
                <pod name="scandit-datacapture-frameworks-text" spec="= 6.24.0-beta.2" />
            </pods>
        </podspec>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditTextCapture">
                <param name="android-package" value="com.scandit.datacapture.cordova.text.ScanditTextCapture" />
            </feature>
        </config-file>
        <source-file src="src/android/ScanditTextCapture.kt" target-dir="kotlin/com/scandit/datacapture/cordova/text" />
        <dependency id="scandit-cordova-datacapture-core" version="6.24.0-beta.2" />
        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />
        <framework src="androidx.appcompat:appcompat:1.1.0" />
        <hook src="src/hooks/support-kotlin.js" type="after_plugin_install" />
    </platform>
</plugin>